
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link
            rel="stylesheet"
            href="static/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
</head>
<body>
{% if not blocked %}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <br>
            <nav class="nav nav-pills justify-content-center sticky-top">

                <div class="nav-item">
                    <a class="nav-link {% if notes %} active {% endif %}" href="{{ url_for('index') }}">Notes</a>
                </div>
                {% if current_user.is_authenticated %}
                    {% if current_user.admin %}
                        <div class="nav-item">
                            <a class="nav-link {% if panel %} active {% endif %}" href="{{ url_for('panel') }}">Panel</a>
                        </div>
                    {% endif %}
                {% endif %}
{#                <div class="nav-item">#}
{#                    <a class="nav-link" href="#">Link3</a>#}
{#                </div>#}

            </nav>
        </div>

        <div class="col">
            {% if login_on %}
                <br />
            <a href="{{ url_for('login') }}" class="btn btn-primary float-right">Login</a>
            {% endif %}
            {% if logged_in %}
                <br />
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Hello {{ current_user }}</h3>
                        </div>
                        <img src="static/{{ current_user.photo }}" class="card-img-top w-50">
                        <div class="card-text">
                            Something interesting
                        </div>
                        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                        {% if current_user.admin %}
                            <a href="{{ url_for('panel') }}" class="btn btn-warning">Panel</a>
                        {% endif %}
                    </div>
                </div>
                <br />
            {% endif %}
        </div>
    <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}

            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </div>

</div>
{% endif %}


{% block nav %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>