{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <br />
            <br />

        </div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <h1 class="display-1 text-center">Welcome</h1>
                <br>
                <br>

                <form method="post" class="form">
                    {{ form.hidden_tag() }}
                    <div class="form-group">

                        {{ form.username(class='form-control', id='username', placeholder='Username') }}
                        <br>
                        {{ form.password(class='form-control', id='password', placeholder='Password') }}
                        <br>
                        {{ form.submit(class="btn btn-success", type="submit") }}
                        <br>

                    </div>
                </form>

{#                <form method="POST" class="form">#}
{#                        {{ form.hidden_tag() }}#}
{#                    <div class="form-group">#}
{##}
{#                            <input type="text" class="form-control" id="username" name="username" placeholder="username">#}
{#                            {% for error in form.username.errors %}#}
{#                                <span style="color: red;">[{{ error }}]</span>#}
{#                            {% endfor %}#}
{#                            <input type="password" class="form-control" id="password" name="password" placeholder="password">#}
{#                            {% for error in form.password.errors %}#}
{#                                <span style="color: red;">[{{ error }}]</span>#}
{#                            {% endfor %}#}
{#                        <br>#}
{#                        <button type="submit" class="btn btn-success">Login</button>#}
{#                    </div>#}
{#                </form>#}

            </div>

            <div class="col-4"></div>
        </div>
    </div>

{% endblock %}